#include "resource.h"
#include "winres.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(65001)

IDD_LYRICS_DIALOG DIALOGEX 0, 0, 480, 330
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Tango Tagger - Lyrics"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_LYRICS_LIST,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,7,7,466,150
    EDITTEXT        IDC_LYRICS_PREVIEW,7,162,466,128,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_TABSTOP
    LTEXT           "",IDC_LYRICS_STATUS,7,294,466,8,SS_NOPREFIX
    PUSHBUTTON      "Check &all",IDC_CHECK_ALL,7,309,54,14
    PUSHBUTTON      "Check &none",IDC_CHECK_NONE,65,309,54,14
    DEFPUSHBUTTON   "&Write lyrics",IDOK,332,309,86,14
    PUSHBUTTON      "Cancel",IDCANCEL,423,309,50,14
END
