#include "resource.h"
#include "winres.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(65001)

IDD_LYRICS_DIALOG DIALOGEX 0, 0, 480, 330
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Tango Tagger - Lyrics"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_LYRICS_LIST,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,7,7,466,150
    EDITTEXT        IDC_LYRICS_PREVIEW,7,162,466,128,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_TABSTOP
    LTEXT           "",IDC_LYRICS_STATUS,7,294,466,8,SS_NOPREFIX
    PUSHBUTTON      "Check &all",IDC_CHECK_ALL,7,309,54,14
    PUSHBUTTON      "Check &none",IDC_CHECK_NONE,65,309,54,14
    CONTROL         "Add links to &translations",IDC_TRANSLATION_LINKS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,127,311,150,10
    DEFPUSHBUTTON   "&Write lyrics",IDOK,332,309,86,14
    PUSHBUTTON      "Cancel",IDCANCEL,423,309,50,14
END

IDD_DISCO_DIALOG DIALOGEX 0, 0, 600, 360
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Tango Tagger - Match discographies"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_DISCO_LIST,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,7,7,586,190
    EDITTEXT        IDC_DISCO_PREVIEW,7,202,586,92,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_TABSTOP
    LTEXT           "",IDC_DISCO_STATUS,7,298,586,8,SS_NOPREFIX
    LTEXT           "&Artist scheme:",IDC_STATIC,7,316,50,8
    COMBOBOX        IDC_DISCO_SCHEME,60,314,230,100,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Write:",IDC_STATIC,302,316,24,8
    CONTROL         "&Title",IDC_FIELD_TITLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,328,315,36,10
    CONTROL         "A&rtist",IDC_FIELD_ARTIST,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,366,315,38,10
    CONTROL         "Album arti&st",IDC_FIELD_ALBUM_ARTIST,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,406,315,58,10
    CONTROL         "&Date",IDC_FIELD_DATE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,466,315,36,10
    CONTROL         "&Genre",IDC_FIELD_GENRE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,504,315,40,10
    PUSHBUTTON      "Check &all",IDC_CHECK_ALL,7,339,54,14
    PUSHBUTTON      "Check &none",IDC_CHECK_NONE,65,339,54,14
    DEFPUSHBUTTON   "&Write tags",IDOK,452,339,86,14
    PUSHBUTTON      "Cancel",IDCANCEL,543,339,50,14
END
